Repository LBHackney-IT/remultiform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

.github/CODEOWNERS:

# The people in this file are **not** responsible for reviewing this code.
# That falls to the people working on it directly. These people are here to
# explicitly notify them, to keep them informed of what's happening to this
# repository.

# The default, matching to all changes, overriden by any later rules.
*             @erbridge @CJWaszczuk

# Any changes in the root of the repository.
/*            @erbridge @CJWaszczuk @LBHELewis

# Any changes in a directory starting with `.` in the root of the repository.
/.*/          @LBHackney-IT/mat-developers @LBHELewis

/docs/        @erbridge @CJWaszczuk @LBHELewis
/docs/adr/    @LBHackney-IT/mat-developers @LBHELewis

/src/         @LBHackney-IT/mat-developers @LBHELewis
/examples/    @LBHackney-IT/mat-developers @LBHELewis

# We disable these to reduce noise from Dependabot.
package.json
package-lock.json

Upgrade TypeDoc to 0.15.2
  package-lock.json
  package.json
Owners: none

Pull the `console.error` spy into a helper function
  src/__tests__/helpers/spies.ts
  src/store/Database.test.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Create a context wrapper for a database
  docs/api/assets/js/search.js
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/classes/_store_database_.database.html
  docs/api/classes/_store_upgrade_.upgrade.html
  docs/api/enums/_store_database_.transactionmode.html
  docs/api/globals.html
  docs/api/index.html
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/interfaces/_components_page_.pageprops.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponent.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponentwrapper.html
  docs/api/interfaces/_store_openoptions_.openoptions.html
  docs/api/interfaces/_store_types_.namedschema.html
  docs/api/interfaces/_store_types_.schema.html
  docs/api/interfaces/_store_types_.storeschema.html
  docs/api/modules/_components_page_.html
  docs/api/modules/_helpers_databasecontext_.html
  docs/api/modules/_helpers_pagecomponentwrapper_.html
  docs/api/modules/_store_database_.html
  docs/api/modules/_store_openoptions_.html
  docs/api/modules/_store_types_.html
  docs/api/modules/_store_upgrade_.html
  src/helpers/DatabaseContext.test.tsx
  src/helpers/DatabaseContext.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Expose the name of the database as a public property
  docs/api/assets/js/search.js
  docs/api/classes/_store_database_.database.html
  src/store/Database.test.ts
  src/store/Database.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Strip local absolute paths out of snapshots
  jest.config.js
  src/__tests__/serializers/pathSerializer.js
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Create a database provider
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/classes/_store_database_.database.html
  docs/api/classes/_store_upgrade_.upgrade.html
  docs/api/enums/_store_database_.transactionmode.html
  docs/api/globals.html
  docs/api/index.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/interfaces/_components_page_.pageprops.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponent.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponentwrapper.html
  docs/api/interfaces/_store_openoptions_.openoptions.html
  docs/api/interfaces/_store_types_.schema.html
  docs/api/interfaces/_store_types_.storeschema.html
  docs/api/modules/_components_databaseprovider_.html
  docs/api/modules/_components_orchestrator_.html
  docs/api/modules/_components_page_.html
  docs/api/modules/_helpers_databasecontext_.html
  docs/api/modules/_helpers_pagecomponentwrapper_.html
  docs/api/modules/_store_database_.html
  docs/api/modules/_store_openoptions_.html
  docs/api/modules/_store_types_.html
  docs/api/modules/_store_upgrade_.html
  src/__fixtures__/components/TestDatabaseConsumer.tsx
  src/__fixtures__/components/TestErrorBoundary.tsx
  src/__tests__/helpers/spies.ts
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
  src/helpers/DatabaseContext.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Create a React hook for accessing the database
  README.md
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/classes/_store_database_.database.html
  docs/api/classes/_store_upgrade_.upgrade.html
  docs/api/enums/_store_database_.transactionmode.html
  docs/api/globals.html
  docs/api/index.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/interfaces/_components_page_.pageprops.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponent.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_.pagecomponentwrapper.html
  docs/api/interfaces/_store_openoptions_.openoptions.html
  docs/api/interfaces/_store_types_.namedschema.html
  docs/api/interfaces/_store_types_.schema.html
  docs/api/interfaces/_store_types_.storeschema.html
  docs/api/modules/_components_databaseprovider_.html
  docs/api/modules/_components_orchestrator_.html
  docs/api/modules/_components_page_.html
  docs/api/modules/_helpers_databasecontext_.html
  docs/api/modules/_helpers_pagecomponentwrapper_.html
  docs/api/modules/_hooks_usedatabase_.html
  docs/api/modules/_store_openoptions_.html
  docs/api/modules/_store_types_.html
  docs/api/modules/_store_upgrade_.html
  package.json
  src/components/DatabaseProvider.tsx
  src/helpers/DatabaseContext.ts
  src/hooks/useDatabase.test.tsx
  src/hooks/useDatabase.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add the database to the context immediately if it's not a promise
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Throw an exception if attempting to change a provider's database
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add the database context and friends to the changelog
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Add a git diff to the end of the `check-git` script for debugging
  bin/ci/check-git
Owners: @erbridge, @CJWaszczuk

Add support for the `--isolatedModules` TypeScript build flag
  src/store/Database.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Simplify the database context generics to use the schema directly
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  docs/api/modules/_hooks_usedatabase_.html
  src/__fixtures__/components/TestDatabaseConsumer.tsx
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/helpers/DatabaseContext.ts
  src/hooks/useDatabase.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make `Database.get` return `undefined` rather than `void`
  docs/api/classes/_store_database_.database.html
  src/store/Database.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Convert `PageComponentWrapper` into a class
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/classes/_helpers_pagecomponentwrapper_.pagecomponentwrapper.html
  docs/api/classes/_store_database_.database.html
  docs/api/classes/_store_upgrade_.upgrade.html
  docs/api/enums/_store_database_.transactionmode.html
  docs/api/globals.html
  docs/api/index.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/interfaces/_components_page_.pageprops.html
  docs/api/interfaces/_helpers_pagecomponent_.pagecomponent.html
  docs/api/interfaces/_store_openoptions_.openoptions.html
  docs/api/interfaces/_store_types_.namedschema.html
  docs/api/interfaces/_store_types_.schema.html
  docs/api/interfaces/_store_types_.storeschema.html
  docs/api/modules/_components_databaseprovider_.html
  docs/api/modules/_components_orchestrator_.html
  docs/api/modules/_components_page_.html
  docs/api/modules/_helpers_databasecontext_.html
  docs/api/modules/_helpers_pagecomponent_.html
  docs/api/modules/_hooks_usedatabase_.html
  docs/api/modules/_store_database_.html
  docs/api/modules/_store_openoptions_.html
  docs/api/modules/_store_types_.html
  docs/api/modules/_store_upgrade_.html
  examples/next-kittens/pages/[slug].tsx
  src/__fixtures__/forms/multiStepForm.ts
  src/__fixtures__/forms/singleStepForm.ts
  src/components/Orchestrator.tsx
  src/components/Page.tsx
  src/helpers/PageComponent.ts
  src/helpers/PageComponentWrapper.test.ts
  src/helpers/PageComponentWrapper.tsx
  src/helpers/__snapshots__/PageComponentWrapper.test.ts.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add `versions` to `NamedSchema` and simplify `Database` generics
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/classes/_store_database_.database.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  docs/api/interfaces/_store_types_.namedschema.html
  docs/api/modules/_hooks_usedatabase_.html
  docs/api/modules/_store_types_.html
  src/__fixtures__/components/TestDatabaseConsumer.tsx
  src/__tests__/helpers/spies.ts
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/helpers/DatabaseContext.ts
  src/hooks/useDatabase.test.tsx
  src/hooks/useDatabase.ts
  src/store/Database.test.ts
  src/store/Database.ts
  src/store/Upgrade.test.ts
  src/store/types.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Pull the promise to wait for next tick into a helper
  src/__tests__/helpers/promise.ts
  src/__tests__/helpers/spies.ts
  src/store/Database.test.ts
  src/store/Upgrade.test.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Set up a mock for the Database
  jest.config.js
  src/components/Orchestrator.test.tsx
  src/components/Page.test.tsx
  src/store/Database.test.ts
  src/store/Upgrade.test.ts
  src/store/__mocks__/Database.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Convert `PageComponent` into a class
  docs/api/assets/js/search.js
  docs/api/classes/_helpers_pagecomponent_.pagecomponent.html
  docs/api/interfaces/_helpers_pagecomponent_.pagecomponentoptions.html
  docs/api/modules/_helpers_pagecomponent_.html
  examples/next-kittens/pages/[slug].tsx
  src/__fixtures__/forms/multiStepForm.ts
  src/__fixtures__/forms/singleStepForm.ts
  src/components/Page.tsx
  src/helpers/PageComponent.test.ts
  src/helpers/PageComponent.ts
  src/helpers/PageComponentWrapper.test.ts
  src/helpers/PageComponentWrapper.tsx
  src/helpers/__snapshots__/PageComponentWrapper.test.ts.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Set Barrelsby up to generate index files for all directories
  .eslintignore
  .gitignore
  .prettierignore
  barrelsby.json
  typedoc.json
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Use the `PageComponent` constructors in the kitten example
  examples/next-kittens/pages/[slug].tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Tidy up `next-kittens` example's exclude paths
  examples/next-kittens/tsconfig.json
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Provide an alternative to hooks for getting database context
  README.md
  docs/api/assets/js/search.js
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/index.html
  docs/api/modules/_hooks_usedatabase_.html
  package.json
  src/helpers/DatabaseContext.test.tsx
  src/helpers/DatabaseContext.ts
  src/hooks/__snapshots__/useDatabase.test.tsx.snap
  src/hooks/useDatabase.test.tsx
  src/hooks/useDatabase.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make the database easier to extend by limiting the props of schema
  docs/api/assets/js/search.js
  docs/api/classes/_store_database_.database.html
  docs/api/interfaces/_store_types_.namedschema.html
  docs/api/interfaces/_store_types_.schema.html
  docs/api/interfaces/_store_types_.storeschema.html
  docs/api/modules/_store_types_.html
  src/store/Database.ts
  src/store/types.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Use "node" module resolution
  tsconfig.json
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Add some whitespace for readability
  src/helpers/PageComponent.test.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Allow `DatabaseProvider` to unmount if explicitly set to allow it
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Simplify database use by passing the database to the context itself
  docs/api/assets/js/search.js
  docs/api/classes/_components_databaseprovider_.databaseprovider.html
  docs/api/classes/_helpers_databasecontext_.databasecontext.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderprops.html
  docs/api/interfaces/_components_databaseprovider_.databaseproviderstate.html
  src/components/DatabaseProvider.test.tsx
  src/components/DatabaseProvider.tsx
  src/components/WrappedPageComponent.test.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
  src/helpers/DatabaseContext.test.tsx
  src/helpers/DatabaseContext.ts
  src/hooks/useDatabase.test.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Use a render function to pass the database to a wrapped component
  docs/api/assets/js/search.js
  docs/api/classes/_helpers_pagecomponentwrapper_pagecomponentwrapper_.pagecomponentwrapper.html
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/interfaces/_components_page_.pageprops.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_pagecomponentwrapper_.pagecomponentwrapperrenderprops.html
  docs/api/modules/_components_orchestrator_.html
  docs/api/modules/_components_page_.html
  src/components/Orchestrator.tsx
  src/components/Page.test.tsx
  src/components/Page.tsx
  src/components/__snapshots__/Page.test.tsx.snap
  src/helpers/PageComponentWrapper/PageComponentWrapper.test.ts
  src/helpers/PageComponentWrapper/PageComponentWrapper.tsx
  src/helpers/PageComponentWrapper/__snapshots__/PageComponentWrapper.test.ts.snap
  src/helpers/PageComponentWrapper/__snapshots__/PageComponentWrapper.test.tsx.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make `Orchestrator` provide the database to the context for `Page`s
  docs/api/assets/js/search.js
  docs/api/interfaces/_components_orchestrator_.orchestratorprops.html
  docs/api/interfaces/_components_orchestrator_.step.html
  docs/api/modules/_components_orchestrator_.html
  src/components/Orchestrator.test.tsx
  src/components/Orchestrator.tsx
  src/components/__snapshots__/Orchestrator.test.tsx.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Stop `check-git` from hanging on CI
  bin/ci/check-git
Owners: @erbridge, @CJWaszczuk

Create a release process
  .circleci/config.yml
  README.md
  bin/bump-version
  bin/check-git
  bin/publish
  docs/api/index.html
  package.json
Owners: @LBHackney-IT/mat-developers, @LBHELewis, @erbridge, @CJWaszczuk

Add display names to function components
  src/__fixtures__/components/TestDatabaseConsumer.tsx
  src/__fixtures__/components/TestDynamicComponent.tsx
  src/__fixtures__/components/TestFunctionComponent.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Rearrange tests to match the order they appear in the class
  src/helpers/PageComponentWrapper/DynamicPageComponent.test.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Pull the common `Database.get` spy into a helper
  src/__fixtures__/components/TestDynamicComponent.tsx
  src/__tests__/helpers/spies.ts
  src/components/WrappedPageComponent.test.tsx
  src/helpers/PageComponentWrapper/PageComponentWrapper.test.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Add the concept of an empty value to fix controlled components
  docs/api/assets/js/search.js
  docs/api/classes/_helpers_pagecomponentwrapper_dynamicpagecomponent_.dynamicpagecomponent.html
  docs/api/interfaces/_components_wrappedpagecomponent_.wrappedpagecomponentstate.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_dynamicpagecomponent_.dynamicpagecomponentcontrolledprops.html
  docs/api/interfaces/_helpers_pagecomponentwrapper_dynamicpagecomponent_.dynamicpagecomponentoptions.html
  src/components/WrappedPageComponent.test.tsx
  src/components/WrappedPageComponent.tsx
  src/components/__snapshots__/WrappedPageComponent.test.tsx.snap
  src/helpers/PageComponentWrapper/DynamicPageComponent.test.ts
  src/helpers/PageComponentWrapper/DynamicPageComponent.ts
  src/helpers/PageComponentWrapper/__snapshots__/PageComponentWrapper.test.ts.snap
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make the Database mock inherit from the real implementation
  src/store/__mocks__/Database.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Switch to inline snapshots
  examples/next-kittens/__tests__/pages/[slug].test.tsx
  examples/next-kittens/__tests__/pages/__snapshots__/[slug].test.tsx.snap
  src/components/DatabaseProvider.test.tsx
  src/components/Orchestrator.test.tsx
  src/components/Page.test.tsx
  src/components/WrappedPageComponent.test.tsx
  src/components/__snapshots__/DatabaseProvider.test.tsx.snap
  src/components/__snapshots__/Orchestrator.test.tsx.snap
  src/components/__snapshots__/Page.test.tsx.snap
  src/components/__snapshots__/WrappedPageComponent.test.tsx.snap
  src/helpers/PageComponentWrapper/PageComponentWrapper.test.ts
  src/helpers/PageComponentWrapper/__snapshots__/PageComponentWrapper.test.ts.snap
  src/hocs/__snapshots__/makeDynamic.test.tsx.snap
  src/hocs/makeDynamic.test.tsx
  src/hooks/__snapshots__/useDatabase.test.tsx.snap
  src/hooks/useDatabase.test.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Fix stray references to internal files in the docs
  docs/api/classes/_component_wrapper_databasemap_.databasemap.html
  docs/api/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentcontrolledprops.html
  docs/api/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentoptions.html
  src/component-wrapper/DatabaseMap.ts
  src/component-wrapper/DynamicComponent.ts
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Set the initial version to 0.0.0 ready for bumping
  package-lock.json
  package.json
Owners: none
