Repository LBHackney-IT/remultiform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

.github/CODEOWNERS:

# The people in this file are **not** responsible for reviewing this code.
# That falls to the people working on it directly. These people are here to
# explicitly notify them, to keep them informed of what's happening to this
# repository.

# The default, matching to all changes, overriden by any later rules.
*             @erbridge @CJWaszczuk

# Any changes in the root of the repository.
/*            @erbridge @CJWaszczuk @LBHELewis

# Any changes in a directory starting with `.` in the root of the repository.
/.*/          @LBHackney-IT/mat-developers @LBHELewis

/docs/        @erbridge @CJWaszczuk @LBHELewis
/docs/adr/    @LBHackney-IT/mat-developers @LBHELewis

/src/         @LBHackney-IT/mat-developers @LBHELewis
/examples/    @LBHackney-IT/mat-developers @LBHELewis

# We disable these to reduce noise from Dependabot.
package.json
package-lock.json

Update the changelog in preparation for `v0.0.1`
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

0.0.1
  package-lock.json
  package.json
Owners: none

Install before publishing
  bin/publish
Owners: @erbridge, @CJWaszczuk

Push the tag after publishing has succeeded
  bin/publish
Owners: @erbridge, @CJWaszczuk

Initial commit
  .gitignore
  .nojekyll
  docs/.gitkeep
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Set up a dependency cache to speed up CI
  .circleci/config.yml
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Cache the examples to speed up testing them
  .circleci/config.yml
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Switch building to happen at the prepack stage
  .circleci/config.yml
  package.json
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Test building docs on this branch
  .circleci/config.yml
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Give the different install jobs useful names
  .circleci/config.yml
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Only build the docs on `master`
  .circleci/config.yml
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Add some NPM related badges to the readme
  README.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the docs to match 305c52d29beac85d3b82507dec876a45b171ff61
  docs/classes/_database_context_databaseprovider_.databaseprovider.html
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the docs to match 0990f3cb1b2a40812cfdcdbb555e4cd5e7f87a14
  docs/index.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Reword feedback to be clearer and do incremental install after publish
  bin/publish
Owners: @erbridge, @CJWaszczuk

Make it possible to disable wrapping steps in a database provider
  CHANGELOG.md
  src/orchestrator/Orchestrator.test.tsx
  src/orchestrator/Orchestrator.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Stop throwing when transitioning to a slug that isn't managed
  CHANGELOG.md
  src/orchestrator/Orchestrator.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Update the docs to match 5ebe7002c56ea0981e82249ff790ee468bd49b30
  docs/assets/js/search.js
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorprops.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorstate.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Switch to using a read-write transaction when updating the data
  CHANGELOG.md
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Update the changelog in preparation for `v0.0.2`
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Add optional flags to the package.json
  package-lock.json
Owners: none

0.0.2
  package-lock.json
  package.json
Owners: none

Update the stored value when the database fetches
  CHANGELOG.md
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add `renderWhen` to support conditional component rendering
  CHANGELOG.md
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.test.ts
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/StaticComponent.test.ts
  src/component-wrapper/StaticComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Update the changelog in preparation for `v0.0.3`
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the docs to match 708d0d6ab3c7612bf6e94c1717d183d98c15a610
  docs/assets/js/search.js
  docs/classes/_component_wrapper_componentwrapper_.componentwrapper.html
  docs/classes/_component_wrapper_dynamiccomponent_.dynamiccomponent.html
  docs/classes/_component_wrapper_staticcomponent_.staticcomponent.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentoptions.html
  docs/interfaces/_component_wrapper_staticcomponent_.staticcomponentoptions.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

0.0.3
  package-lock.json
  package.json
Owners: none

Update the docs to match d6c75c3deffbe7cc4dfb18ecac32aba4aad56e91
  docs/classes/_database_context_databaseprovider_.databaseprovider.html
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the docs to match 56d636dc4ba65a95c789993e7b909b93e298a37b
  docs/assets/css/main.css
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Fix the name of the exported `DatabaseMap` in the changelog
  CHANGELOG.md
  package-lock.json
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Fix the changelog to be more descriptive
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Rename `DatabaseMap` to `ComponentDatabaseMap`
  CHANGELOG.md
  src/__fixtures__/forms/dynamicForm.ts
  src/component-wrapper/ComponentDatabaseMap.test.ts
  src/component-wrapper/ComponentDatabaseMap.ts
  src/component-wrapper/ComponentWrapper.test.ts
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.test.ts
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/step/internal/Step.test.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make default values required for dynamic components
  CHANGELOG.md
  examples/next-kittens/steps/index.ts
  src/__fixtures__/components/TestDynamicComponent.tsx
  src/__fixtures__/forms/dynamicForm.ts
  src/__fixtures__/forms/staticForm.ts
  src/component-wrapper/DynamicComponent.test.ts
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/component-wrapper/makeDynamic.test.tsx
  src/component-wrapper/makeDynamic.tsx
  src/step/internal/Step.test.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Infer the type of the component props for `StaticComponent`s
  CHANGELOG.md
  src/__fixtures__/forms/dynamicForm.ts
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/StaticComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Reduce the number of explicit `any`s for dealing with schemas
  src/__fixtures__/components/TestDatabaseConsumer.tsx
  src/__tests__/helpers/spies.ts
  src/component-wrapper/StaticComponent.ts
  src/database-context/DatabaseContext.test.tsx
  src/database-context/DatabaseProvider.test.tsx
  src/database-context/DatabaseProvider.tsx
  src/database-context/useDatabase.test.tsx
  src/database/types.ts
  src/step/StepDefinition.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Remove unnecessary overspecification of `Store`'s types
  src/__tests__/helpers/spies.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Remove the empty string from value types that will never need it
  CHANGELOG.md
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/StaticComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add support for customizing the value returned by `Database.get`
  src/__tests__/helpers/spies.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Add support for objects as values in stores
  CHANGELOG.md
  src/__tests__/helpers/spies.ts
  src/component-wrapper/ComponentDatabaseMap.test.ts
  src/component-wrapper/ComponentDatabaseMap.ts
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/StaticComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/database/Database.test.ts
  src/database/Database.ts
  src/database/Store.ts
  src/database/Upgrade.test.ts
  src/database/Upgrade.ts
  src/database/__mocks__/Database.ts
  src/database/internal/wrapTransaction.ts
  src/database/types.ts
  src/helpers/internal/object.ts
  src/helpers/internal/primitives.ts
  src/orchestrator/Orchestrator.tsx
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Make `DynamicComponent.emptyValue` required
  CHANGELOG.md
  src/__fixtures__/forms/dynamicForm.ts
  src/component-wrapper/ComponentWrapper.test.ts
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.test.ts
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers
