Repository LBHackney-IT/remultiform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

.github/CODEOWNERS:

# The people in this file are **not** responsible for reviewing this code.
# That falls to the people working on it directly. These people are here to
# explicitly notify them, to keep them informed of what's happening to this
# repository.

# The default, matching to all changes, overriden by any later rules.
*             @erbridge @CJWaszczuk

# Any changes in the root of the repository.
/*            @erbridge @CJWaszczuk @LBHELewis

# Any changes in a directory starting with `.` in the root of the repository.
/.*/          @LBHackney-IT/mat-developers @LBHELewis

/docs/        @erbridge @CJWaszczuk @LBHELewis
/docs/adr/    @LBHackney-IT/mat-developers @LBHELewis

/src/         @LBHackney-IT/mat-developers @LBHELewis
/examples/    @LBHackney-IT/mat-developers @LBHELewis

# We disable these to reduce noise from Dependabot.
package.json
package-lock.json

Fix up the `property` prop type validation
  src/component-wrapper/ComponentDatabaseMap.ts
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Update the docs to match 53a01604a1c3daf432418393d728bb3b582c7479
  docs/classes/_component_wrapper_componentdatabasemap_.componentdatabasemap.html
  docs/classes/_component_wrapper_componentwrapper_.componentwrapper.html
  docs/classes/_component_wrapper_dynamiccomponent_.dynamiccomponent.html
  docs/interfaces/_component_wrapper_componentwrapper_.componentwrapperrenderprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentcontrolledprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentoptions.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the changelog in preparation for `v0.0.4`
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

0.0.4
  package-lock.json
  package.json
Owners: none

Refactor the types to be cleaner
  src/__tests__/helpers/spies.ts
  src/component-wrapper/ComponentDatabaseMap.ts
  src/component-wrapper/internal/WrappedComponent.tsx
  src/component-wrapper/makeDynamic.tsx
  src/database/Database.test.ts
  src/database/Database.ts
  src/database/types.ts
  src/step/internal/Step.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Stop attempting a transaction without data to persist
  CHANGELOG.md
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Update the docs to match 7f2806d0348fa855014cd0c2b7c62927aebf48c8
  docs/assets/js/search.js
  docs/classes/_component_wrapper_componentdatabasemap_.componentdatabasemap.html
  docs/classes/_database_database_.database.html
  docs/enums/_database_types_.transactionmode.html
  docs/interfaces/_component_wrapper_componentdatabasemap_.componentdatabasemapoptions.html
  docs/interfaces/_component_wrapper_makedynamic_.makedynamicpropmap.html
  docs/interfaces/_database_types_.namedschema.html
  docs/interfaces/_database_types_.schema.html
  docs/interfaces/_database_types_.storeschema.html
  docs/modules/_component_wrapper_makedynamic_.html
  docs/modules/_database_database_.html
  docs/modules/_database_types_.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update the docs to match 91b068da2d5c3431c36b65f3814593de09b2e7a5
  docs/classes/_component_wrapper_componentdatabasemap_.componentdatabasemap.html
  docs/classes/_component_wrapper_componentwrapper_.componentwrapper.html
  docs/classes/_component_wrapper_dynamiccomponent_.dynamiccomponent.html
  docs/classes/_component_wrapper_staticcomponent_.staticcomponent.html
  docs/classes/_database_context_databasecontext_.databasecontext.html
  docs/classes/_database_context_databaseprovider_.databaseprovider.html
  docs/classes/_database_database_.database.html
  docs/classes/_database_store_.store.html
  docs/classes/_database_upgrade_.upgrade.html
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
  docs/enums/_database_types_.transactionmode.html
  docs/interfaces/_component_wrapper_componentdatabasemap_.componentdatabasemapoptions.html
  docs/interfaces/_component_wrapper_componentwrapper_.componentwrapperrenderprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentcontrolledprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentoptions.html
  docs/interfaces/_component_wrapper_makedynamic_.makedynamicpropmap.html
  docs/interfaces/_component_wrapper_makedynamic_.makedynamicvaluechangeadapter.html
  docs/interfaces/_component_wrapper_staticcomponent_.staticcomponentoptions.html
  docs/interfaces/_database_context_databaseprovider_.databaseproviderprops.html
  docs/interfaces/_database_openoptions_.openoptions.html
  docs/interfaces/_database_types_.namedschema.html
  docs/interfaces/_database_types_.schema.html
  docs/interfaces/_database_types_.storeschema.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorprops.html
  docs/interfaces/_step_stepdefinition_.stepdefinition.html
  docs/interfaces/_step_submit_.submitprops.html
  docs/modules/_component_wrapper_componentdatabasemap_.html
  docs/modules/_component_wrapper_dynamiccomponent_.html
  docs/modules/_component_wrapper_makedynamic_.html
  docs/modules/_database_context_usedatabase_.html
  docs/modules/_database_store_.html
  docs/modules/_database_types_.html
  docs/modules/_step_submit_.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update "optional"s in the package lock
  package-lock.json
Owners: none

Update the docs to match 210b42040753ce46e586e8328a868fa953a99a6d
  docs/assets/js/search.js
  docs/classes/_component_wrapper_componentdatabasemap_.componentdatabasemap.html
  docs/classes/_component_wrapper_componentwrapper_.componentwrapper.html
  docs/classes/_component_wrapper_dynamiccomponent_.dynamiccomponent.html
  docs/classes/_component_wrapper_staticcomponent_.staticcomponent.html
  docs/classes/_database_context_databasecontext_.databasecontext.html
  docs/classes/_database_context_databaseprovider_.databaseprovider.html
  docs/classes/_database_database_.database.html
  docs/classes/_database_store_.store.html
  docs/classes/_database_upgrade_.upgrade.html
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
  docs/enums/_database_types_.transactionmode.html
  docs/globals.html
  docs/index.html
  docs/interfaces/_component_wrapper_componentdatabasemap_.componentdatabasemapoptions.html
  docs/interfaces/_component_wrapper_componentwrapper_.componentwrapperrenderprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentcontrolledprops.html
  docs/interfaces/_component_wrapper_dynamiccomponent_.dynamiccomponentoptions.html
  docs/interfaces/_component_wrapper_makedynamic_.makedynamicpropmap.html
  docs/interfaces/_component_wrapper_makedynamic_.makedynamicvaluechangeadapter.html
  docs/interfaces/_component_wrapper_staticcomponent_.staticcomponentoptions.html
  docs/interfaces/_database_context_databaseprovider_.databaseproviderprops.html
  docs/interfaces/_database_openoptions_.openoptions.html
  docs/interfaces/_database_types_.namedschema.html
  docs/interfaces/_database_types_.schema.html
  docs/interfaces/_database_types_.storeschema.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorprops.html
  docs/interfaces/_step_stepdefinition_.stepdefinition.html
  docs/interfaces/_step_submit_.submitprops.html
  docs/modules/_component_wrapper_componentdatabasemap_.html
  docs/modules/_component_wrapper_dynamiccomponent_.html
  docs/modules/_component_wrapper_makedynamic_.html
  docs/modules/_database_context_usedatabase_.html
  docs/modules/_database_store_.html
  docs/modules/_database_types_.html
  docs/modules/_step_stepdefinition_.html
  docs/modules/_step_submit_.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Change submit to be a function and take nextSlug as argument
  examples/next-kittens/steps/index.ts
  src/__fixtures__/forms/dynamicForm.ts
  src/__fixtures__/forms/staticForm.ts
  src/orchestrator/Orchestrator.tsx
  src/step/StepDefinition.ts
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Change `nextSlug` to optionally be a function
  src/orchestrator/Orchestrator.tsx
  src/step/StepDefinition.ts
  src/step/internal/Step.test.tsx
  src/step/internal/Step.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Update the docs to match 4fd1b4125d7d28708d48fa140a3d9bebf8487f5e
  docs/assets/js/search.js
  docs/classes/_orchestrator_orchestrator_.orchestrator.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorprops.html
  docs/interfaces/_orchestrator_orchestrator_.orchestratorstate.html
  docs/interfaces/_step_stepdefinition_.stepdefinition.html
  docs/interfaces/_step_submit_.submitprops.html
  docs/modules/_step_stepdefinition_.html
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Update changelog for functional next slug
  CHANGELOG.md
Owners: @erbridge, @CJWaszczuk, @LBHELewis

Replace Schema in proptypes with any
  src/component-wrapper/ComponentWrapper.tsx
  src/orchestrator/Orchestrator.tsx
  src/step/internal/Step.tsx
Owners: @LBHackney-IT/mat-developers, @LBHELewis

Simplify some generic types
  CHANGELOG.md
  src/__fixtures__/forms/dynamicForm.ts
  src/component-wrapper/ComponentDatabaseMap.ts
  src/component-wrapper/ComponentWrapper.tsx
  src/component-wrapper/DynamicComponent.ts
  src/component-wrapper/__mocks__/ComponentWrapper.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/database/types.ts
  src/orchestrator/Orchestrator.tsx
  src/step/StepDefinition.ts
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers

Add support for dynamic database keys
  CHANGELOG.md
  src/component-wrapper/ComponentDatabaseMap.ts
  src/component-wrapper/internal/WrappedComponent.test.tsx
  src/component-wrapper/internal/WrappedComponent.tsx
  src/step/internal/Step.tsx
Owners: @erbridge, @CJWaszczuk, @LBHELewis, @LBHackney-IT/mat-developers
